%h1 Inicio#index
%p Find me in app/views/inicio/index.html.haml
%p
	= link_to 'Nuevo Post', posts_path
%p
	= link_to 'Nueva Categoria', categories_path
%p
	= link_to 'Nuevo Body', bodies_path
%p
	= link_to 'Nueva Imagen', imagens_path
	
